[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
peewee = "*"
rq = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
pytest = "*"
install = "*"
pre-commit = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
