[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
peewee = "*"
rq = "*"
uvicorn = {extras = ["standard"], version = "*"}
selenium = "*"
redis = "*"
dataclasses-json = "*"

[dev-packages]
pytest = "*"
pre-commit = "*"
black = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-icdiff = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
